services:
  - type: web
    name: singleseller-backend
    env: node
    rootDir: Backend
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
  - type: web
    name: singleseller-frontend
    env: node
    rootDir: Frontend
    buildCommand: npm install && npm run build
    startCommand: npm run preview
    autoDeploy: true
    envVars:
      - key: VITE_API_BASE
        value: https://singleseller-backend.onrender.com/api
    routes:
      - type: rewrite
        source: /api/(.*)
        destination: https://singleseller-backend.onrender.com/api/$1
